@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
main{
    padding: 20px;
    margin-left: 250px;
    min-height: calc(100vh - 80px - 40px - 40px);
}
body{
    min-width: 700px;
}